standard: af-graphics
Version: 1
Section: main
Priority: optional
Architecture: all
Depends: darktable, gimp, inkscape, ufraw
Maintainer: Flynn Milligan
Description: Aerofoil photography and graphics tools
