package: af-graphics
version: 1
section: main
priority: optional
architecture: all
depends: darktable, gimp, inkscape, ufraw
maintainer: Flynn Milligan
description: Aerofoil photography and graphics tools
