package: af-cad
version: 1
section: main
priority: optional
architecture: all
suggests: arduino, eagle, fritzing, openscad, wings3d
maintainer: Flynn Milligan
description: Aerofoil computer-aided design packages
