package: af-utils
version: 1
section: main
priority: required
architecture: all
depends: file-roller, geany, htop, network-manager, pnmixer, qalc, suckless-tools, thunar, transmission, viewnior, vlc, xfburn
maintainer: Flynn Milligan
description: Aerofoil utilities
